@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
    background-color: white;
    color: rgb(11, 12, 12);

}

.text {
    color: rgb(32, 32, 32);
    font-size: x-large;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0.5rem;
    border-style: double;
    height: 400px;
    width: 600px;
}

th {
    border: 1px solid rgb(15, 14, 14);
    padding: 0.5rem;
    border-spacing: 0.5rem;
    text-align: center;
    color: rgb(24, 23, 23);
    font-style: normal;
    font-size: large;

}

td {
    border: 1px solid rgb(31, 30, 30);
    padding: 0.5rem;
    border-spacing: 0.5rem;
    text-align: left;
    color: rgb(14, 13, 13);
    font-style: normal;
    font-size: medium;
}

.pagination a:hover,
a:active {
    font-size: 30px;
    color: #d18708;
    border-radius: 5px;
    background-color: rgb(49, 44, 44);
}