@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
    background-color:#202020;
    color:white;

}
.body{
    background-color: #202020;
}

.text {
    color:whitesmoke;
    font-size: x-large;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0.5rem;
    border-style: double;
    height: 400px;
    width: 600px;
}

th {
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    border-spacing: 0.5rem;
    text-align: center;
    color: whitesmoke;
    font-style: normal;
    font-size: large;

}

td {
    border: 1px solid whitesmoke;
    padding: 0.5rem;
    border-spacing: 0.5rem;
    text-align: left;
    color: whitesmoke;
    font-style: normal;
    font-size: medium;
}
.ed:hover{
    color:#d18708;
    font-size: 20px;
}
.ed1{ text-align: center;
border:solid 3px #d18708;
background-color: black;
margin-top: 10px;
}

.pagination a:hover {
    color: #d18708;
    border-radius: 5px;
    background-color: rgb(49, 44, 44);
}