@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');



* {
    transition: .5s;
}


.align-middle {
    top: 100%;
    transform: translateY(-50%);
}

.card {
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: rgba(0, 0, 0, 1);
    border-radius: 24%;
    color: rgba(0, 0, 0, 1);
    letter-spacing: .05rem;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 0 21px rgba(0, 0, 0, .27);
}

.center {
    font-size: 25px;
    color: whitesmoke;
}

.class {
    background-color: black;
    color: whitesmoke;
    line-height: large;
}