@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,700');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');



* {
    transition: .5s;

}



.img-size {
    height: 30px;
    width: 30px;
    border-radius: 1;
}

.align-middle {
    top: 100%;
    transform: translateY(-50%);
}

.card {
    margin: 0;
    padding: 1.7rem 1.2rem;
    border: rgba(0, 0, 0, 1);
    border-radius: 24%;
    color: rgba(0, 0, 0, 1);
    letter-spacing: .05rem;
    font-family: 'Oswald', sans-serif;
    box-shadow: 0 0 21px rgba(0, 0, 0, .27);

}

.center {
    font-size: 20px;
    color: whitesmoke;
    margin: 10px;
    width: 320px;
    height: 10%;
    position: relative;
    text-align: center;
}

.class {
    background-color: #000000;
    background-color: inherit;
    color: whitesmoke;
    width: 100%;
    text-align: center;
}

a:hover {
    font-size: 20px;
    color: #d18708;
}

footer {
    background: #222;
    color: #aaa;
    padding-top: 20px;

}

footer a {
    color: #aaa;
}

footer a:hover {
    color: #fff;
}

footer h3 {
    color: #d18708;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

footer .three-column {
    overflow: hidden;
}

footer .three-column li {
    width: 33.3333%;
    float: left;
    padding: 20px 0;
}

footer .socila-list {
    overflow: hidden;
    margin: 20px 0 40px;
}

footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
    opacity: 1;
}

footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
}

footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
}

footer .copyright span {
    color: #d18708;
}
