@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
  box-sizing: border-box;
  background-color: #202020;
}

.img-size {
  height: 30px;
  width: 30px;
  border-radius: 1;
}

.img-card {
  height: 250px;
  width: 250px;
}

.center {
  font-size: 20px;
  color: whitesmoke;

  width: 320px;
  height: 10%;
  position: relative;
  text-align: center;
}

.center {
  font-size: 20px;
  color: whitesmoke;
  margin: 10px;
  width: 320px;
  height: 10%;
  position: relative;
  text-align: center;

}

.class {
  background-color: #000000;
  color: whitesmoke;
  width: 100%;
  text-align: center;
}

a:hover {
  font-size: 20px;
  color: #d18708;

}

h1 {
    text-align: center !important;
    font-weight: bold;
    font-style: 'Bolt Sans';
    font-size: x-large;
    border: 1px solid #d18708;
    background-color: #000000;
    color: #ffffff;
    blockquote {margin:20px;}
}

.thecard {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 300px;
  width: 1000px;
}

.thecard__side {
  background-color: #333333;
  color: #fff;
  font-size: 2rem;
  height: 50rem;
  transition: all 1.8s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
}

.thecard__side--front {
  background-color: #333333;
}

.thecard__side--back {
  background-color: #ffffff;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.thecard:hover .thecard__side--front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.thecard:hover .thecard__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}



footer {
  background: #222;
  color: #aaa;
  padding-top: 20px;

}

footer a {
  color: #aaa;
}

footer a:hover {
  color: #fff;
}

footer h3 {
  color: #d18708;
  letter-spacing: 1px;
  margin: 30px 0 20px;
}

footer .three-column {
  overflow: hidden;
}

footer .three-column li {
  width: 33.3333%;
  float: left;
  padding: 20px 0;
}

footer .socila-list {
  overflow: hidden;
  margin: 20px 0 40px;
}

footer .socila-list li {
  float: left;
  margin-right: 3px;
  opacity: 0.7;
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
  opacity: 1;
}

footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
}

footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 15px;
}

footer .copyright span {
  color: #d18708;
}
