@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
    box-sizing: border-box;
    background-color: rgb(50, 66, 73);
}

.img-size {
    height: 30px;
    width: 30px;
    border-radius: 1;
}

.img-card {
    height: 250px;
    width: 250px;
}
.center{
    font-size: 25px;
    color: blue;
}